.action {

}

.action.first {

}

.action.second {
  background-color: white;
}

.action_date {
  float: left;
  width: 50px;

  color: gray;
  font-size: 10px;
}

.action_description {
  float: left;
  width: 370px
}

.action_additional {
  float: left;
}

.navigation {
   width: 100%;
   margin-bottom: 20px;
}

.navigation .primary {
  height: 30px;
  border-bottom: solid 1px #b3d2fb;

  padding-left: 5px;
  padding-right: 5px;
}

.navigation .secondary {
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
}

.logo {
  float: left;
}

.menu {
  height: 10px;
  margin-right: 10px;
}

.navigation .primary .menu {
  height: 100%;
  float: right;
}

.navigation .secondary .menu {
  float: left;
}

.menu .element {
  margin-right: 10px;
}

.container {
  margin: auto;
}

.content {
  width: 500px;
  background-color: #eff6fe;
  border: 1px solid silver;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#facebox .content {
  width: auto;
  background-color: #eff6fe;
  border: 1px solid silver;
  margin: auto;
  padding: 20px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#flashes {
  position: fixed;
  top: 4em;
  z-index: 9003;
  width: 540px;
}

#no_js_flashes {
  width: 540px;
  margin: auto;
}

.alert {
  background-color:#feefef;
  border:solid 1px #cd8888;
  padding: 0.5em;
  text-align: center;
}

.notice {
  background-color:#f0feef;
  border:solid 1px #aeda9b;
  padding: 0.5em;
  text-align: center;
}


.dish_details {

}

.dish_details_date {
  float: right;
}

.dish_details_description {
  clear: both;
  width: 300px;
  margin: auto;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 20px;

  font-size: 16px;
}

.dish_details_photos {
  width: 200px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border: 1px solid silver;
}

.dish_details_photo {
  float: left;
}

.dish_details_prices {
  float: right;
}

.dish_details_tags {

}

.dish_details_tags img {
  width: 25px;
  height: 25px;
}

.dish_details_rating.set_rating {
  margin-bottom: 40px;
}

.dish_details_rating {
  margin: auto;
  width: 180px;
  margin-bottom: 10px;
}

.dish_details_rating .rating_star {
  float: left;
  margin: 0px;
  width: 25px;
  height: 25px;
}

.dish_details_rating .rating_star img {
  width: 25px;
  height: 25px;
}

.dish_history_container {
  clear: both;
  width: 540px;
  margin: auto;
  margin-top: 30px;
}

.dish_history_container .title {
  color: gray;
}

.dish_history {
  border: solid 1px silver;
}

.dish_history .entry {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
  padding-left:20px;
  padding-right:20px;

}

.dish_history .first {
}

.dish_history .second {
  background-color: #eff6fe;
}

.dish_history .entry .description {
  float: left;
  width: 350px;
}

.dish_history .entry .date {
  float: right;
}

.dish_history .entry .rating {
  float: right;
  margin-left: 5px;
}
a .description {
  color: #000;
  text-decoration: none;

}

a .description:hover {
  background-color: #b3d2ff;
  color: #000;
  text-decoration: none;
}



#facebox .b {
  background:url(/facebox/b.png);
}

#facebox .tl {
  background:url(/facebox/tl.png);
}

#facebox .tr {
  background:url(/facebox/tr.png);
}

#facebox .bl {
  background:url(/facebox/bl.png);
}

#facebox .br {
  background:url(/facebox/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}


.dish {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.dish_description {
  font-size: 12px;
}

a .dish_description {
  color: #000;
  text-decoration: none;
  min-height: 96px;
}

a .dish_description:hover {
  background-color: #b3d2ff;
  color: #000;
  text-decoration: none;
}

.dish_tags {
  margin-top: 5px;
  float:left;
}

.dish_tags img {
  width: 20px;
  height: 20px;
}

.dish_prices {
  margin-top: 5px;
  float: right;
}

.dish_price_a {
  display: inline;
}

.dish_price_b {
  display: inline;
}

.dish_rating {
  float: right;
}

.dish .picture_indicator {
  float: left;
}

.day_menue {
  margin: auto;
  padding: 10px;
}

.day_menue .controls{
  width:100%;
}

.day_menue .controls .date {
  width: 100%;
  text-align: center;
}

.day_menue .controls .backward{
  float:left;
}

.day_menue .controls .forward{
  float:right;
}

.day_menue .dish_container {
  width: 160px;
  height: 18em;
  background-color: #eff6fe;
  border: 1px solid silver;
  padding: 20px;
  padding-bottom: 0px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;

  margin: 20px;
  float: left;
  display: block;
  text-align: center;

  position: relative;
}

.day_menue .dish_description.too_long {
  font-size: 10px;
}

#sortdishes {
  text-align: center;
}

.weekmenue table {
  margin: auto;
  width: 98%;
  font-size: inherit;
  border-spacing: 0px;
  border-bottom: solid silver 1px;
}

.weekmenue tr {

}
.first_tr{

}

.second_tr{
  background-color: #eff6fe;
}

.weekmenue th {
  color: #000077;
  background-color: #b3d2ff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.weekmenue td {
  width: 16%;
  vertical-align:text-top;
  border-left:solid silver 1px;
  padding: 5px;
}

.weekmenue td#last{
  border-right:solid silver 1px;
}


.weekmenue .date {
  font-size: 10px;
  font-weight: normal;
}

td.table_controls{
  border:none;
}

.table_controls .backward{
  float:left;
}

.table_controls .current_week {
  display:inline-block;
  width:75%;
  margin:auto;
  text-align:center
}

.table_controls .forward{
  float:right;
}

.drag_handle {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.add_category {
  display: inline-block;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid silver;
  background-color: #eff6fe;
}

.add_category img {
  width: 16px;
  height: 16px;
}

.remove_category {
  position: absolute;
  right: 8px;
  top: 8px;
}

.remove_category img {
  width: 16px;
  height: 16px;
}


.rating {

}

.rating_stars {
  float: left;
}

.rating_star {
  float: left;
  margin: 0px;
  width: 12px;
  height: 12px;
}

.rating_star img {
  width: 12px;
  height: 12px;
}

.rating_count {
  float: right;
}

.rating_distribution_container {
  width: 350px;
}

.rating_distribution {
  float: left;
}

.rating_distribution_line {
  float: left;
  width: 100px;
  height: 15px;
  background-color: #b3d2ff;
}

.rating_distribution_filled {
  height: 15px;
  background-color: #161988;
}

.rating_distribution_description {
  float: left;
  font-size: 12px;
  margin-right: 15px;
}

.rating_distribution_count {
  float: left;
  font-size: 10px;
  margin-left: 5px;
}

.rating_distribution_average {
  float: left;
  margin-left: 30px;
}

.rating_distribution_average .rating_star {
  float: left;
  margin: 0px;
  width: 25px;
  height: 25px;
}

.rating_distribution_average .rating_star img {
  width: 25px;
  height: 25px;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: red;
  display: inline;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

img {
  border: 0px;
}

a { color: #00C; text-decoration: none; }
a:hover { color: #88C; }

a.nav_button {
  color: 000077;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px silver;
  background-color: #eff6fe;
}

a:hover.nav_button {
  color: #000;
  background-color: #b3d2ff;
}

.less_important_information {
  color: gray;
  font-size: 10px;
}

label {
  min-width: 16em;
  display: inline-block;
}

fieldset{
  margin-bottom:20px;
  border:solid 1px silver;
}

legend{
  color:gray;
}

.like_word{
  background-color:#f0feef;
  border:solid 1px #aeda9b;
  padding-left:3px;
  padding-right:3px;
}
.dislike_word{
  background-color:#feefef;
  border:solid 1px #cd8888;
  padding-left:3px;
  padding-right:3px;
}

.seperator {
  display: inline;
  font-size: 120px;
  color: #cdd4ed;
}
