.rating {
  
}

.rating_stars {
  float: left;
}

.rating_star {
  float: left;
  margin: 0px;
  width: 12px;
  height: 12px;  
}

.rating_star img {
  width: 12px;
  height: 12px;
}

.rating_count {
  float: right;
}