.content
  %h2 Was ist mensr?
  %p
    mensr versucht die Bremer Mensen mit dem Web 2.0 zu verknüpfen.
  %p
    Potentielle Gäste können sich im Vorfeld über die Angebote der verschiedenen Mensen informieren, sehen wie andere Gäste das Essen fanden und sich einen personalisierten Tages-Speiseplan zusammen stellen.
  %p
    Nach der Mahlzeit können Sie Ihre Meinung der Welt mitteilen und so anderen Gästen die Auswahl erleichtern. Auf Wunsch kann ein Bild des Essens hochgeladen werden.

  %h2 Wer steht hinter mensr?
  %p
    Die erste Version von mensr wurde von Thomas Friedrichs und #{link_to 'Jaap Groeneveld', 'http://www.menodev.de', target:'_blank'} im Rahmen der Informatik-Veranstaltung <i>Agile Webentwicklung</i> der Universität Bremen entwickelt. Als Ideengeber trat #{link_to 'Eike Carls', 'http://www.sockenschubla.de/', target:'_blank'} auf.
  %p
    mensr ist Open Source und auf #{link_to 'Github', 'https://github.com/menodev/mensr', target:'_blank'} verfügbar.