.dish_photo_facebox
  = image_tag @photo.picture.url(:large)

  %div{style: 'clear: both'}

  .less_important_information{style: 'float: left'}
    Hochgeladen von
    = @photo.uploader.name

  .less_important_information{style: 'float: right'}
    = l @photo.created_at.to_date

  %div{style: 'clear: both'}